
/*
	Name: Manuel Antunes
	File: style.css
	Date: 04 April 2025
    In this final project, I expanded on my previous bouncing balls demo by adding new features, including a user-controlled "evil" 
    circle and a score counter to track remaining balls.

*/

html, body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    height: inherit;
  }
  
  h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: -4px;
    right: 5px;
  
    color: transparent;
    text-shadow: 0 0 4px white;
  }

  p {
    position: absolute;
    margin: 0;
    top: 35px;
    right: 5px;
    color: #aaa;
  }